<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConvNet WebApp</title>
    <link type="text/css" rel="stylesheet" href="/static/css/libs.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/build.min.css" />
</head>
<body>
    <i class="glyphicon glyphicon-music"></i>
    <p>Hello there!</p>
    <script>
        console.time('load');
    </script>
    <script type="application/javascript" src="/static/js/build.min.js"></script>
    <script>
        require(['main'], function(){
            console.timeEnd('load');
        });
    </script>
</body>
</html>