{% extends "base.html" %}
{% block title %}ConvNet WebApp{% end %}

{% block extra_css %}
{% end %}


{% block header %}
    <h3>My Header</h3>
{% end %}

{% block content %}
<section class="main col-md-10">
    Hi
</section>

<section class="sidebar col-md-2">
    <div id="net-config">
        <script id="config-template" type="text/handlebars">
            <table class="table">
                [[#each config]]
                    <tr>
                        <td>[[@key]]:</td>
                        <td><input type="text" value="[[this]]" data-key="[[@key]]"></td>
                    </tr>
                [[/each]]
            </table>
            </script>
    </div>
</section>
{% end %}